%grid{
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
%animate{
  transition: all 0.2s ease;
}
#app{
  background-image: url("/data/image/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.3);
  &-list {
    display: flex;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
    @media (min-width: 375px) and (max-width: 768px) {
      .nav &-item{
        width:130px;
        height:130px;
      }
    }
    &-item {
      width: 200px;
      height: 200px;
      @extend %grid;
      transition: all 0.3s ease;
      
      .container {
        @extend %grid;
        padding: 10px 15px 0px 15px;
        border-radius: 15px;
        @extend %animate;
        &:hover {
          cursor: pointer;
          padding: 10px 15px 10px 15px;
          & > .title {
            transform: scale(1);
          }
          & > .icon{
            width: 80px;
          }
        }
      }
      .icon {
        @extend %animate;
        width: 60px;
      }
      .title {
        transition: all 0.3s ease;
        transform: scale(0);
        color: #fff;
      }
    }
  }
}