%grid{
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
%animate{
  transition: all 0.2s ease;
}
#app{
  background-image: url("/image/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 280px) and (max-width: 768px) {
  .nav{
    .nav &-list{
      width: 100%;
      grid-template-columns: repeat(auto-fill, calc(100% / 3));
    }
  }
}
@media (max-width: 280px) {
  .nav{
    .nav &-list{
      width: 100%;
      grid-template-columns:auto;
    }
  }
}
.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.3);
  &-list {
    position: relative;
    z-index: 99;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill, calc(80% / 5));
    grid-auto-flow: row;
    row-gap: 30px;
    &-item {
      @extend %grid;
      @extend %animate;
      height:120px;
      .container {
        @extend %grid;
        @extend %animate;
        
        &:hover {
          cursor: pointer;
          & > .title {
            transform: translateY(5px);
            font-size: 18px;
            font-weight: bold;
          }
          & > .icon{
            transform: scale(1.5)
          }
        }
      }
      .icon {
        @extend %animate;
        width: 50px;
        padding: 10px;
        box-sizing: content-box;
        border-radius: 15px;
        box-shadow: 0 0 2px 1px #33333317;
        background: hsla(0, 0%, 97%, .75);
      }
      .title {
        @extend %animate;
        color: #fff;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}